/* Базовые стили */

body {
  background: #f8f5f2 url("../img/phone_blok.png");
}

/* Стили шапки сайта */

.header_main__logo {
  width: 113px;
  height: 25px;
  padding: 0 20px;
  align-self: center;
  order: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

  .ppo {
    background-color: #000000 !important;
  }

  a.ppo::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
  }

    .site_navigation a {
      position: relative;
    }

/* Основной контент */

main.container {
  color: #000000;
  margin-top: 55px;
}

  .meta_date h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .meta_date__menu {
    list-style-type: none;
    display: flex;
    margin-bottom: 50px;
  }

    .meta_date__menu li {
      padding: 0 20px;
      position: relative;
    }

    .meta_date__menu li:first-child {
      padding-left: 0;
    }

      .meta_date__menu a {
        color: #000000;
        font-size: 14px;
        line-height: 24px;
      }

      .meta_date__menu li:last-child a {
        color: #aba9a7;
      }

    .meta_date__menu li::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #000000;
      transform: rotate(45deg);
      position: absolute;
      right: -4px;
      top: 7px;
    }

    .meta_date__menu li:last-child::after {
      width: 0;
    }

  .meta_name {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
    .meta_name::after {
      content: "";
      width: 150px;
      height: 2px;
      background-color: #000000;
      margin-left: 25px;
    }

    .meta_name::before {
      content: "";
      width: 150px;
      height: 2px;
      background-color: #000000;
      margin-right: 25px;
    }

  .meta_wraper__about_us {
    display: flex;
    flex-direction: column;
  }

    .meta_wraper__about_us h3 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    .about_us__wraper {
      display: flex;
      flex-wrap: wrap;
    }

      .meta_wraper__about_us p {
        width: 380px;
        margin-right: 120px;
        margin-bottom: 30px;
      }

      .meta_wraper__about_us p:nth-child(2n) {
        margin-right: 0;
      }

/* Подвал */

.footer_main {
  box-shadow: inset 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}
