/* Базовые стили */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url("../img/bg_phone.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

a:hover, a:active, button:hover, button:active, input:hover, input:active {
  transition: all 0.1s;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стили шапки сайта */

.header_main {
  display: flex;
  flex-direction: column;
}

  .header_main__logo {
    width: 370px;
    height: 157px;
    order: 1;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 75px;
  }

  .header_main__container_wraper {
    background-color: #000000;
  }

    .header_main__container_wraper > .container {
      display: flex;
    }

    .site_navigation {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }

      .site_navigation a {
        padding: 25px 20px;
        display: block;
        color: #ffffff;
      }

      .site_navigation a:hover, .site_navigation a:active {
        background-color: #242424;
      }

    .user_navigation {
      margin-left: auto;
      position: relative;
    }

      .user_navigation a {
        padding: 25px 20px 25px 50px;
        display: block;
        color: #ffffff;
      }

      .user_navigation a:hover, .user_navigation a:active {
        background-color: #242424;
      }

     .user_navigation a::after {
        content: "";
        width: 16px;
        height: 18px;
        position: absolute;
        top: 27px;
        left: 19px;
        background-image: url("../img/login_strelka2.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        opacity: 0.2;
     }

     .user_navigation a:hover::after {
        opacity: 1;
     }

/* Блок 1 */

.advantages_main {
  display: flex;
  justify-content: space-around;
}

  .advantages_main__blok3 {
    width: 300px;
    text-align: center;
  }

   .advantages_main__blok3 h3 {
     font-size: 30px;
     margin-bottom: 65px;
     line-height: 42px;
     position: relative;
   }

   .advantages_main__blok3 h3::before {
     content: "";
     width: 20px;
     height: 20px;
     background-color: #ffffff;
     transform: rotate(45deg);
     position: absolute;
     top: 57px;
     left: 50%;
     margin-left: -10px;
   }

   .advantages_main__blok3 p {
     font-size: 14px;
     line-height: 24px;
   }

/* Блок 2 */

.news_main {
  margin-top: 80px;
}

  .news_main__container_wraper {
    padding: 50px 80px;
    background-color: #f8f5f2;
    background: url("../img/phone_blok.png") top left;
    display: flex;
    color: #000000;
  }

    .news_main__news {
      width: 390px;
      background: url("../img/shadow.png") center right no-repeat;
    }

      .news_main__news h2 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 30px;
      }

      .news_main__news p {
        font-size: 14px;
        line-height: 24px;
      }

      .news_main__news data {
        display: block;
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .news_main__news a {
        display: inline-block;
        padding: 13px 35px;
        background-color: #0a0a0a;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
      }

      .news_main__news a:hover, .news_main__news a:active {
        background: #663d15;
      }

    .news_main__galery {
      margin-left: auto;
      width: 300px;
    }

      .news_main__galery h2 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 30px;
      }

      .news_main__galery img {
        border: 7px solid #ffffff;
        margin-bottom: 38px;
      }

      .galery__wraper {
        display: flex;
        justify-content: space-between;
      }

        .news_main__galery button {
          padding: 13px 0;
          width: 140px;
          background-color: #0a0a0a;
          color: #ffffff;
          text-align: center;
          border: 0;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 24px;
          font-family: "PT Sans Narrow", Arial, sans-serif;
          font-weight: bold;
          cursor: pointer;
        }

        .news_main__galery button:hover, .news_main__galery button:active {
          background: #663d15;
        }

/* Блок 3 */

.news_main2 {
  margin-top: 35px;
}

  .news_main2__container_wraper {
    padding: 50px 80px;
    background-color: #f8f5f2;
    background: url("../img/phone_blok.png") top left;
    display: flex;
    color: #000000;
  }

    .news_main2__news {
      width: 390px;
      background: url("../img/shadow.png") center right no-repeat;
    }

      .news_main2__news h2 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 30px;
      }

      .news_main2__news p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      .news_main2__news a {
        display: inline-block;
        padding: 13px 35px;
        background-color: #0a0a0a;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        margin-right: 20px;
      }

      .news_main2__news a:hover, .news_main__news a:active {
        background: #663d15;
      }

    .news_main2__galery {
      margin-left: auto;
      width: 300px;
    }

      .news_main2__galery h2 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 30px;
      }

      .news_main2__galery p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      .news_main2__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

        .news_main2__form label span {
          position: relative;
          left: 15px;
          font-size: 14px;
          line-height: 24px;
        }

        .news_main2__form input {
          border: 2px solid #000000;
          background: none;
          padding: 10px 15px;
          width: 140px;
          box-sizing: border-box;
          margin-bottom: 15px;
          margin-top: 10px;
        }

        .news_main2__form input:hover, .news_main2__form input:active {
          border: 2px solid #663d15;
        }

        .news_main2__form input[type="submit"] {
          padding: 13px 0;
          border: 0;
          width: 100%;
          background-color: #0a0a0a;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 24px;
          font-family: "PT Sans Narrow", Arial, sans-serif;
          font-weight: bold;
          cursor: pointer;
        }

        .news_main2__form input[type="submit"]:hover, .news_main2__form input[type="submit"]:active {
          background-color: #663d15;
        }

        input[placeholder] {
          color: rgba (0, 0, 0, 0.7);
          font-family: "PT Sans Narrow", Arial, sans-serif;
          font-weight: bold;
          font-size: 14px;
        }

/* footer */

.footer_main {
  background-color: #222222;
  background-image: url("../img/footer_phone.png");
  padding: 60px 0 40px 0;
  font-size: 14px;
  line-height: 24px;
  margin-top: 65px;
}

  .footer_main > .container {
    display: flex;
  }

    .footer_main__adress {
      width: 380px;
      margin-right: 20px;
    }

      .footer_main__adress a {
        color: #ffffff;
        text-decoration: underline;
      }

    .footer_main__social {
      width: 143px;
      text-align: center;
    }

      .social_wraper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        list-style-type: none;
      }

        .social__item {
          display: flex;
          width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
          background-color: #000000;
          margin-bottom: 10px;
        }

        .social__item:hover, .social__item:active {
          background-color: #ffffff;
        }

        .social__item:hover path, .social__item:active path {
          fill: #000000;
        }

    .footer_main__academy {
      width: 140px;
      margin-left: auto;
      text-align: center;
    }

      .footer_main__academy a {
        display: block;
        box-sizing: border-box;
        padding: 13px 13px;
        width: 100%;
        background-color: #0a0a0a;
        color: #ffffff;
        margin-top: 20px;
      }

      .footer_main__academy a:hover, .footer_main__academy a:active {
        background-color: #ffffff;
        color: #000000;
      }
