/* Базовые стили */

body {
  background: #f8f5f2 url("../img/phone_blok.png");
}

/* Стили шапки сайта */

.header_main__logo {
  width: 113px;
  height: 25px;
  padding: 0 20px;
  align-self: center;
  order: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

  .ppo {
    border-bottom: 4px solid #ffffff !important;
    background-color: #000000 !important;
  }

    .site_navigation a {
      padding: 25px 20px;
      border-bottom: 4px solid #000000;
    }

    .site_navigation a:hover, .site_navigation a:active {
      border-bottom: 4px solid #242424;
    }

    .user_navigation a {
      border-bottom: 4px solid #000000;
    }

    .user_navigation a:hover, .user_navigation a:active {
      border-bottom: 4px solid #242424;
    }

/* Основной контент */

main.container {
  color: #000000;
  margin-top: 55px;
}

  .meta_date h2 {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .meta_date__menu {
    list-style-type: none;
    display: flex;
  }

    .meta_date__menu a {
      color: #000000;
      font-family: "PT Sans Narrow", Arial, sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      padding: 0 20px;
      position: relative;
    }

    .meta_date__menu a:first-child {
      padding-left: 0;
    }

    .meta_date__menu a::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #000000;
      transform: rotate(45deg);
      position: absolute;
      top: 5px;
      right: -5px;
    }
