/* Базовые стили */

body {
  background: #f8f5f2 url("../img/phone_blok.png");
}

/* Стили шапки сайта */

.header_main__logo {
  width: 113px;
  height: 25px;
  padding: 0 20px;
  align-self: center;
  order: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

  .ppo {
    border-bottom: 4px solid #ffffff !important;
    background-color: #000000 !important;
  }

    .site_navigation a {
      padding: 25px 20px;
      border-bottom: 4px solid #000000;
    }

    .site_navigation a:hover, .site_navigation a:active {
      border-bottom: 4px solid #242424;
    }

    .user_navigation a {
      border-bottom: 4px solid #000000;
    }

    .user_navigation a:hover, .user_navigation a:active {
      border-bottom: 4px solid #242424;
    }

/* Основной контент */

main.container {
  color: #000000;
  margin-top: 55px;
}

  .meta_date h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .meta_date__menu {
    list-style-type: none;
    display: flex;
    margin-bottom: 50px;
  }

    .meta_date__menu li {
      padding: 0 20px;
      position: relative;
    }

    .meta_date__menu li:first-child {
      padding-left: 0;
    }

      .meta_date__menu a {
        color: #000000;
        font-size: 14px;
        line-height: 24px;
      }

      .meta_date__menu li:last-child a {
        color: #aba9a7;
      }

    .meta_date__menu li::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #000000;
      transform: rotate(45deg);
      position: absolute;
      right: -4px;
      top: 7px;
    }

    .meta_date__menu li:last-child::after {
      width: 0;
    }

  .meta_name {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 60px;
  }

    .meta_name span {
      position: relative;
    }

      .meta_name span::after {
        content: "";
        width: 150px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        right: -175px;
      }

      .meta_name span::before {
        content: "";
        width: 150px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        left: -175px;
      }

  .meta_wraper {
    display: flex;
    flex-direction: column;
  }

    .pice__list {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      margin-bottom: 65px;
    }

      .pice__list h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
      }

        .pice__list li:first-child {
          width: 380px;
        }

        .pice__list li:last-child {
          width: 460px;
        }

        .pice__list table {
          width: 100%;
          border: 2px solid #000000;
          border-spacing: 0;
          border-collapse: collapse;
        }

          .pice__list table td {
            border: 2px solid #000000;
            width: 50%;
            padding: 10px 17px;
            font-size: 14px;
            line-height: 24px;
          }

      .list__brands {
        list-style-type: none;
        font-size: 14px;
        line-height: 24px;
      }

        .list__brands li {
          padding-left: 20px;
          position: relative;
          margin-bottom: 20px;
        }

        .list__brands li::before {
          content: "";
          width: 8px;
          height: 8px;
          background-color: #000000;
          transform: rotate(45deg);
          position: absolute;
          top: 8px;
          left: 0;
        }

    .meta_wraper__about_us {

    }

      .meta_wraper__about_us h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
      }

      .about_us__wraper {
        display: flex;
        flex-wrap: wrap;
      }

        .meta_wraper__about_us p {
          width: 380px;
          margin-right: 120px;
          margin-bottom: 30px;
        }

        .meta_wraper__about_us p:nth-child(2n) {
          margin-right: 0;
        }

/* Подвал */

.footer_main {
  box-shadow: inset 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}
