/* Базовые стили */

body {
  background: #f8f5f2 url("../img/phone_blok.png");
}

table {
  width: 100%;
  border: 2px solid #000000;
  border-spacing: 0;
  border-collapse: collapse;
}

  table td {
    border: 2px solid #000000;
    width: 50%;
    padding: 10px 17px;
    font-size: 14px;
    line-height: 24px;
  }

/* Стили шапки сайта */

.header_main__logo {
  width: 113px;
  height: 25px;
  padding: 0 20px;
  align-self: center;
  order: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

  .ppo {
    background-color: #000000 !important;
  }

  a.ppo::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
  }

    .site_navigation a {
      position: relative;
    }

/* Основной контент */

main.container {
  color: #000000;
  margin-top: 55px;
}

  .meta_date h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .meta_date__menu {
    list-style-type: none;
    display: flex;
    margin-bottom: 50px;
  }

    .meta_date__menu li {
      padding: 0 20px;
      position: relative;
    }

    .meta_date__menu li:first-child {
      padding-left: 0;
    }

      .meta_date__menu a {
        color: #000000;
        font-size: 14px;
        line-height: 24px;
      }

      .meta_date__menu li:last-child {
        color: #aba9a7;
        font-size: 14px;
        line-height: 24px;
      }

    .meta_date__menu li::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #000000;
      transform: rotate(45deg);
      position: absolute;
      right: -4px;
      top: 7px;
    }

    .meta_date__menu li:last-child::after {
      width: 0;
    }

  .shop_wraper {
    display: flex;
    justify-content: space-between;
  }

    .shop_wraper__form {
      width: 220px;
    }

      .form__shop {

      }

        .form__shop label {
          display: block;
          position: relative;
          margin-bottom: 17px;
        }

        .form__shop label::before {
          content: "";
          width: 20px;
          height: 20px;
          border: 2px solid #000000;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -12px;
        }

        .form__shop h2 {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 30px;
          margin-top: 35px;
        }

          .form__shop h2:first-child {
            margin-top: 0;
          }

        .form__shop span {
          display: block;
          font-size: 14px;
          line-height: 18px;
          padding-left: 43px;
          position: relative;
        }

        .form__shop span::before {
          content: "";
          width: 12px;
          height: 2px;
          background-color: #000000;
          transform: rotate(-45deg);
          position: absolute;
          left: 6px;
          top: 50%;
          margin-top: -1px;
          display: none;
        }

        .form__shop span::after {
          content: "";
          width: 12px;
          height: 2px;
          background-color: #000000;
          transform: rotate(45deg);
          position: absolute;
          left: 6px;
          top: 50%;
          margin-top: -1px;
          display: none;
        }

        input[type="checkbox"]:checked + span::before, input[type="checkbox"]:checked + span::after {
          display: inline;
        }

        .form__shop label:hover > span {
          color: #663d15;
        }

      .rabio {
        display: block;
        position: relative;
        margin-bottom: 17px;
      }

        .rabio::before {
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 20px;
          border: 2px solid #000000;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -12px;
        }

        .rabio span::after {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: #000000;
          position: absolute;
          left: 7px;
          top: 50%;
          margin-top: -5px;
          display: none;
        }

        input[type="radio"]:checked + span::after {
          display: inline;
        }

        label input:disabled + span {
          opacity: 0.3;
          color: #000000 !important;
        }

    input[type="submit"] {
      display: inline-block;
      box-sizing: border-box;
      padding: 13px 33px;
      background-color: #0a0a0a;
      color: #ffffff;
      border: 0;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      font-family: "PT Sans Narrow", Arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      margin-top: 33px;
    }

    input[type="submit"]:hover, input[type="submit"]:active  {
      background-color: #663d15;
    }

    .shop_wraper__katalog {
      width: 700px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

      .katalog__item {
        width: 220px;
        background-color: #ffffff;
        margin-bottom: 20px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      }

      .katalog__item:hover, .katalog__item:active {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
      }

        .katalog__item img {
          width: 100%;
        }

        .item__text {
          padding: 15px 15px;
          display: flex;
          flex-wrap: wrap;
        }

          .item__text h3 {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 13px;
            width: 100%;
            text-transform: capitalize;
          }

          .item__text span {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 15px 37px;
            font-size: 14px;
            line-height: 18px;
          }

          .item__text a {
            font-size: 14px;
            line-height: 18px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #ffffff;
            background-color: #000000;
            flex-grow: 1;
            text-align: center;
          }

          .item__text a:hover, .item__text a:active {
            background-color: #663d15;
          }

      .katalog__btn {
        width: 100%;
        display: flex;
        margin-top: 28px;
      }

        .katalog__btn a {
          width: 43px;
          height: 43px;
          display: flex;
          background-color: #000000;
          color: #ffffff;
          margin-right: 7px;
        }

        .katalog__btn span {
          margin: auto;
        }

        .katalog__btn a:hover, .katalog__btn a:active {
          background-color: #663d15;
        }

      .katalog__btn_active {
        background-color: #ffffff !important;
        color: #000000 !important;
      }

/* Подвал */

.footer_main {
  box-shadow: inset 0 15px 20px 0 rgba(0, 0, 0, 0.5);
  margin-top: 50px;;
}

/* Класс всплытия */

.modal_show {
  display: block;
}

/* Анимация */

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal_error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes show {
  0% { transform: translateY(-2000px); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}

.modal_spull {
  animation-name: show;
  animation-duration: 0.6s;
}
